@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.eot") format("woff");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.svg") format("svg");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.ttf") format("ttf");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.woff") format("woff");
  src: url("../assets/fonts/merriweather-v28-latin_cyrillic-700.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.eot") format("woff");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.svg") format("svg");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.ttf") format("ttf");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff") format("woff");
  src: url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff2") format("woff2");
}

@import "normalize.scss";
@import "variables.scss";
@import "general.scss";
@import "light-theme.scss";
@import "footer.scss";

/*---------- video player ----------*/
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  font-size: 10px;
  line-height: 3em;
}

.video-player__video {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.video-player__controls {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.video-player__slider_video {
  flex-grow: 1 1 auto;
  margin-right: 30px;
}

.video-player__slider_sound {
  max-width: 200px;
}

.video-player__hover-btn {
  position: absolute;
  background-color: transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.video-player__hover-btn .play {
  display: none;
}

.video-player__btn {
  width: 4em;
  height: 4em;
  margin: auto 1rem;
  cursor: pointer;
}

.video-player__btn-stop {
  margin-right: 2rem;
}

.progress-bar__slider {
  margin: auto;
  border: solid 1px $color-videoProgresPlayed;
  border-radius: 8px;
  height: 10px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress-bar__slider::-moz-range-track {
  margin: auto;
  border: solid 1px $color-videoProgresPlayed;
  border-radius: 8px;
  height: 10px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress-bar__slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background-color: $color-videoProgresPlayed;
  border: 2px solid $color-videoProgresSlider;
}

.progress-bar__slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background-color: $color-videoProgresPlayed;
  border: 2px solid $color-videoProgresSlider;
}

.video-player__slider_video {
  background: linear-gradient(
    to right,
    $color-videoProgresPlayed 0%,
    $color-videoProgresPlayed 0%,
    $color-videoProgresNoPlayed 0%,
    $color-videoProgresNoPlayed 100%
  );
}

.video-player__slider_sound {
  margin-right: 10px;
  background: linear-gradient(
    to right,
    $color-videoProgresPlayed 0%,
    $color-videoProgresPlayed 0%,
    $color-videoProgresNoPlayed 0%,
    $color-videoProgresNoPlayed 100%
  );
}

@media (any-pointer: fine) and (any-hover: hover) {
  .video-player__hover-btn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }

  .video-player__hover-btn:active {
    filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    -webkit-filter: invert(60%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}
/*---------- end video-player ----------*/
